.Home {
  padding: 25px;
}

@media screen and (min-width: 768px) {
  .Home {
    padding: 25px 50px;
  }
}

@media screen and (min-width: 1024px) {
  .Home {
    padding: 50px 10%;
  }
}

@media screen and (min-width: 1440px) {
  .Home {
    padding: 50px 15%;
  }
}
