@import '../../sass/base/variables';

.Filter {
  gap: 8px;
  padding: 4px;
  display: grid;
  padding-left: 16px;
  align-items: center;
  grid-template-columns: auto 1fr;
  & .Filter__box {
    width: 27px;
    height: 27px;
    grid-row-start: 1;
    grid-column-start: 1;
    place-content: center;
    color: $primary-color;
    font-size: $font-size-xxl;
    border-radius: $border-radius;
    border: 1px solid $primary-color;
  }
  & input {
    opacity: 0;
    grid-row-start: 1;
    grid-column-start: 1;
  }
}
